<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your comics</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
  <h1>Your comics</h1>
  <a href="/users/<%=user._id%>/comics/new">Add a new comic</a>
  <ul>
    <% comics.forEach((comic)=>{ %>
      <li>
        <a href="/users/<%= user._id %>/comics/<%= comic._id %>">
          <%= comic.title %> </a> by <%= comic.author %>
      </li>
    <% }) %>
  </ul>
</body>
</html>